<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>fsa</title>
  </head>
  <body>
    <header>
      <div class="headerWrapper">
      
        <h1>FSA-annonces</h1>
        
      </div>
    </header>
    <main>
      <section class="mainContent">
        <% data[0].forEach((title, ind)=>{%>
        <div class="card">
          <h2><%= title %></h2>
          <hr style="margin: 5px 0 20px 0" />
          <div class="cardContent"><%- data[1][ind] %></div>
        </div>
        <% }) %>
      </section>
      
    </main>

    <script>
      const imgs = document.querySelectorAll("img:not(.org)");

      imgs.forEach((img) => {
        const imgPath = img.src.replace(/https?:\/\/[^\/]+/g, "");
        console.log(window.location.hostname)
        img.src = 'https://'+ window.location.hostname + imgPath
        img.referrerPolicy = "no-referrer";
      });
    </script>
  </body>
</html>
